.theme-plugin-avfc-mode {
 --theme-page: #670E36;
    --theme-page-text: #670E36;
    --theme-page-text-light: #670E36;
    --theme-page-instructions-text: #670E36;
    --theme-page-instructions-background: rgba(103, 14, 54, 0.4);
    --theme-modal: #fff;
    --theme-intro-gradient-1: rgba(103, 14, 54, 0.04);
    --theme-intro-gradient-2: rgba(255, 255, 255, .95);
    --theme-header-text: #670E36;
    --theme-caption-text: #670E36;
    --theme-caption-read: #670E36;
    --theme-announcements-gradient-1: rgba(255, 255, 255, 0);
    --theme-announcements-gradient-2: rgba(255, 255, 255, .95);
    --theme-line-separator: #670E36;
    --theme-wallet-overview-border: #670E36;
    --theme-table-row-hover: #670E36;
    --theme-transaction-sent: #670E36;
    --theme-transaction-sent-arrow: #670E36;
    --theme-transaction-received: #670E36;
    --theme-transaction-received-arrow: #670E36;
    --theme-send-circle-second-signature: #670E36;
    --theme-send-circle-second-signature-text: #3b2d54;
    --theme-send-circle-register-delegate: #670E36;
    --theme-send-circle-register-delegate-text: #670E36;
    --theme-send-circle-vote: #670E36;
    --theme-send-circle-vote-text: #954458;
    --theme-transaction-detail-gradient1: #46466b;
    --theme-transaction-detail-gradient2: #343a53;
    --theme-transaction-detail-arrow: #4d536c;
    --theme-wallet-new-selected: #282a2b;
    --theme-wallet-new-unselected: #670E36;
    --theme-wallet-sign-verify-message-text: #670E36;
    --theme-wallet-grid-shadow: 0 5px 30px rgba(103, 14, 54, 0);
    --theme-feature: #95BFE5;
    --theme-feature-item-text: #670E36;
    --theme-feature-item-hover: #95BFE5;
    --theme-feature-item-alternative: #670E36;
    --theme-feature-item-alternative-text: #FEE505;
    --theme-feature-item-hover-text: #670E36;
    --theme-feature-item-selected: #670E36;
    --theme-feature-item-selected-text: #FEE505;
    --theme-feature-item-indicator: #670E36;
    --theme-secondary-feature: #670E36;
    --theme-button-special-choice: #670E36;
    --theme-heading-background: #670E36;
    --theme-heading-text: #FEE505;
    --theme-chart-background: #670E36;
    --theme-chart-price: #670E36;
    --theme-button: #670E36;
    --theme-button-active: #670E36;
    --theme-button-text: #FEE505;
    --theme-button-light: #FEE505;
    --theme-button-light-text: #670E36;
    --theme-button-inner-box: #670E36;
    --theme-action-button: #FEE505;
    --theme-action-button-text: #FEE505;
    --theme-action-button-text-hover: #FEE505;
    --theme-option-button: #670E36;
    --theme-option-button-hover: #FEE505;
    --theme-option-button-text: #670E36;
    --theme-switch-button: #670E36;
    --theme-option-heading-button: #670E36;
    --theme-option-heading-button-hover: #FEE505;
    --theme-option-heading-button-text: #8894cf;
    --theme-input-toggle-choice: #FEE505;
    --theme-input-toggle-choice-text: #FEE505;
    --theme-input-field-border: #670E36;
    --theme-modal-footer-button: #FEE505;
    --theme-modal-footer-button-text: #FEE505;
    --theme-explanation-background: #FEE505;
    --theme-explanation-text: #FEE505;
    --theme-settings: #FEE505;
    --theme-settings-hover: #FEE505;
    --theme-settings-sub: #FEE505;
    --theme-settings-button: #FEE505;
    --theme-settings-heading: #FEE505;
    --theme-settings-border: #f1f2f8;
    --theme-settings-text: #8a91b8;
    --theme-settings-text-hover: #FEE505;
    --theme-settings-switch: #f1f4f7;
    --theme-settings-control-title: #2d3747;
    --theme-voting-banner-background: #e2edf8;
    --theme-voting-banner-text: #7f95ab;
    --theme-voting-banner-button: #cfddec;
    --theme-voting-banner-button-hover: #FEE505;
    --theme-voting-banner-button-text: #670E36;
    --theme-voting-banner-button-text-hover: #FEE505;
    --theme-fee-gradient-start: var(--theme-modal);
    --theme-fee-gradient-end: rgba(0, 124, 255, .2);
    --theme-fee-handler-outside: var(--theme-button-text);
    --theme-fee-handler-inside: var(--theme-modal);
    --theme-fee-range-track: var(--theme-page-text-light);
    --theme-fee-range-track-active: var(--theme-button-text);
    --theme-fee-range-shadow: rgba(9, 100, 228, .34);
}
